.admin_ribbon{
    background-color: #27ae60;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    
}
.admin_ribbon_text{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin:8px;
}
.add_admin_button{
    background-color: #6fcf97;
    height: 40px;
    width: 250px;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 6px;
    -webkit-box-shadow: -1px 6px 19px -2px rgba(0,0,0,0.76);
-moz-box-shadow: -1px 6px 19px -2px rgba(0,0,0,0.76);
box-shadow: -1px 6px 19px -2px rgba(0,0,0,0.76);
}
.admin_input_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.admin_input_titles{
    margin-top:30px;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    left: -80px;
}
.admin_input_titles_email {
    margin-top:30px;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    left: -100px;
}
.add_admin_inputs{
    height: 30px;
    width: 250px;
    margin: 2px;
    -webkit-box-shadow: -3px 7px 21px -1px rgba(53,53,56,1);
    -moz-box-shadow: -3px 7px 21px -1px rgba(53,53,56,1);
    box-shadow: -3px 7px 21px -1px rgba(53,53,56,1);
    font-size: 24px;
    padding: 2px;
}
.add_admin_container {
    margin-top: 20px;
}
.admin_profile_display {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.admin_info_container {
    border: 1px solid lightgray;
    height: 100px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.admin_profile_name_text {
    font-size: 20px;
}
.admin_profile_administrator {
    color: blue;
    font-weight: 100;
}
.admin_delete_button{
    background-color: red;
    color: white;
    height: 30px;
    margin: 8px;
    font-weight:800;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(53,53,56,1);
-moz-box-shadow: 0px 0px 33px -6px rgba(53,53,56,1);
box-shadow: 0px 0px 33px -6px rgba(53,53,56,1);
}
.admin_profile_parent {
   height: 400px;
   overflow: auto;
   margin: 20px; 
}