.drop_down_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.greenclubs {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 18px;
    z-index: 1;
}
.drop_down_buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
   
}


.dash_menu{
    height: 20px;
    width: 30%;
    background-color:white;
    
    border-radius: 6px;
    color: #27AE60;
    margin-top: 6px;
    -webkit-box-shadow: 0px 0px 9px 4px rgba(39,174,96,1);
-moz-box-shadow: 0px 0px 9px 4px rgba(39,174,96,1);
box-shadow: 0px 0px 9px 4px rgba(39,174,96,1);

}
@media (min-width: 800px){
    .dash_menu{
        width: 12%;
    }
    .drop_down_buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
       
    }
    
    
    
}
.weather_container{
    height: 200px;
    width: 98%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 11vh;
    border-radius: 4px;
    -webkit-box-shadow: -4px 4px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 23px 1px rgba(0,0,0,0.75);
box-shadow: -4px 4px 23px 1px rgba(0,0,0,0.75);

}
.weather_parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
}